.registerPageContainer {
  background-image: url("../../assets/loginPage.png"),
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}
